build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
bin/

.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch
.architectury-transformer

quaternion.lua
matrix.lua
quaternion.txt
matrix.txt
pid.lua
mmath.lua