build/
*.ipr
run/
*.iws
out/
*.iml
.gradle/
output/
bin/

.classpath
.project
.idea/
classes/
.metadata
.vscode
.settings
*.launch
.architectury-transformer

matrix.lua
quaternion.lua
matrix.txt
quaternion.txt
pid.lua
mmath.lua
stats.lua

docs/
.kotlin